
.mapboxgl-ctrl-attrib
  a
    border none

.mapboxgl-ctrl-logo
  text-decoration none
  border none
.start-screen
  position absolute
  height 100vh
  width 100vw
  z-index 1000
  background linear-gradient(180deg, #f7f7f7 0px, rgba(247, 247, 247, 0.85) 58%, rgba(255, 255, 255, 0) 100%)
  display flex
  flex-direction column
  justify-content center
  align-items center
  font-family 'Atlas Grotesk Web'
  .byline
    position absolute
    top 1.7rem
    right 2rem
    p
      font-size 12px
      color #737373
      a
        color #737373
        border-color #737373
        &:visited
          border-color #737373
  .mountain
    margin-top -5rem
  .start-button
    background #4264FB
    border-radius 5px
    margin-top 1rem
    min-width 150px
    background #efe7d4
    transition background .5s
    p
      font-size 18px
      color black
      padding 5px 20px
      font-weight 500
      text-align center
      transition color .5s
  .start-active
    cursor hand
    cursor pointer
    background #4264FB
    p
      color white
    &:hover
      background green

  p
    margin 0px
  .big-text
    font-size 48px
    font-weight 300
  .sub-text
    font-size 15px
    font-weight 500
    color #0C4135
    text-transform uppercase
    letter-spacing 1.5px
    margin-top -5px
  .prose
    margin-top 3rem
    width 530px
    p
      text-align center
      font-size 16px
      font-weight 400
      margin-bottom 1.5rem
      &:last-of-type
        font-weight 500

  .logo
    width 118px
    position absolute
    top 1rem
    left 2rem
    svg
      width 100%
.delta-map-container
  position absolute
  top 0px
  right 0px
  height 100vh
  width 100vw
  transform translate(100%,0%)
  pointer-events none
  background rgb(201, 208, 209)
  #delta-map
    width 100%
    pointer-events all
    background #c9d0d1
.tour-container
  position absolute
  z-index 100
  bottom 0px
  left 2rem
  padding 1rem 1rem
  background rgba(0,0,0,.8)
  color white
  max-width 300px
  border-top-left-radius 5px
  border-top-right-radius 5px
  display flex
  flex-wrap wrap
  justify-content space-between
  transition transform .5s
  .tour-hide
    position absolute
    top 0px
    left 0px
    z-index 100
    transform translate(20px, -100%)
    background rgba(0,0,0,.8)
    height 20px
    padding 0px 5px
    border-top-left-radius 5px
    border-top-right-radius 5px
    cursor hand
    cursor pointer
    transition all .5s
    .tour-show-arrow
      display none
      width 25px
      div
        svg
          width 100%
    .tour-hide-arrow
      width 25px
      div
        svg
          width 100%
  .tour-text-container
    width 100%
    margin-bottom 15px
    .tour-text
      color white
      font-family 'Atlas Grotesk Web'
      font-size 14px
      font-weight 400
      margin 0px
  .tour-toggle
    display flex
    .tour-toggle-right, .tour-toggle-left
      height 20px
      width 20px
      margin-top 1px
      div
        svg
          width 100%
    .tour-toggle-text
      font-family 'Atlas Grotesk Web'
      .tour-toggle-text-current, .tour-toggle-text-amount
        font-size 13px
        font-weight 500
        color rgba(255,255,255,1)
        display inline-block
      .tour-toggle-text-current
        margin 0px
        font-weight 600
        color rgba(255,255,255,1)
        margin-right 0px
      .tour-toggle-text-amount
        margin 0px
  .tour-button
    border-radius 5px
    font-family 'Atlas Grotesk Web'
    background rgba(0,0,0,1)
    color white
    font-size 11px
    letter-spacing .5px
    font-weight 600
    padding 9px 15px
    margin 0px
    position relative
    text-transform uppercase
    padding-right 50px
    &:after
      position absolute
      content '✈️'
      right 8px
      font-size 18px
      top 50%
      transform translate(0,-50%)

.tour-hidden
  transform translate(0,100%)
  transition all .5s
  .tour-hide
    width 100px
    height 30px
    transition all .5s
    background black
    .tour-show-arrow
      display block
    .tour-hide-arrow
      display none

.tour-hidden-start
  transform translate(0,150%)
.screen
  height 100vh
  width 100vw
  position absolute
  top 0px
  left 0px
  pointer-events none
  background linear-gradient(180deg, #f7f7f7 20px, rgba(134,153,158,0) 150px, rgba(0,0,0,0) 100%)
  transform translate3d(0,0,0)
  z-index 10
.mapboxgl-compare
  display none
.top-header
  position absolute
  top 0px
  left 0px
  width 100%
  display flex
  justify-content center
  z-index 1000
  transform translate(0,-200%)
  .top-toggles
    display flex
    justify-content center
    div
      cursor hand
      cursor pointer
      p
        transition all .1s
      .top-toggle-active
        background white
        color black
        font-weight 500
        font-size 18px
        padding 10px 20px
        box-shadow none
        border-bottom-left-radius 5px
        border-bottom-right-radius 5px
        height 53px
      p:not(.top-toggle-active)
        &:hover
          color #4c4c4c
          background #cecece
          box-shadow none
          transition all .05s
          height 50px
      &:nth-of-type(2)
        .top-toggle-active
          height auto
          border-bottom-left-radius 0px
          border-bottom-right-radius 0px
          position relative
          height 70px
          box-shadow 0px 2px 4px 0px rgba(0, 0, 0, 0.27)
          border-bottom-right-radius 5px
          border-bottom-left-radius 5px
          &:after
            width 100%
            content 'Latest Data from 2015'
            font-size 11px
            position absolute
            left 0px
            right 0px
            bottom 0px
            margin 0 auto
            text-align center
            background #f6f7f7
            transform translate(0px, 0%)
            padding 3px 0px
            border-bottom-right-radius 5px
            border-bottom-left-radius 5px
            font-weight 400
      p
        margin 0px
        padding 10px 20px
        font-family 'Atlas Grotesk Web'
        background #2A2A2A
        color rgba(255,255,255,.6)
        font-weight 500
        font-size 14px
        display block
        height 45px
        box-shadow 0px 0px 8px 1px rgba(0, 0, 0, 0.29)

      &:nth-of-type(1)
        p
          border-bottom-left-radius 5px
      &:nth-of-type(3)
        p
          border-bottom-right-radius 5px




  .logo
    position absolute
    top 0rem
    left 1.5rem
    width 110px
    text-decoration none
    border none
    svg
      width 100%
      fill black
.before-map-container
  height 100vh
  position relative
  width 0px
  .before-toggles
    display none
.extended
  .before-toggles
    display block
    width 6px
    height 100vh
    background white
    position absolute
    right 0px
    box-shadow 0px 0px 3px 1px rgba(0, 0, 0, 0.21)
    z-index 100
    transform translate(50%,0px)
    .before-present-toggles
      position absolute
      top 50%
      right 0px
      transform translate(100%, -50%)
      .before-present-toggle
        font-family 'Atlas Grotesk Web'
        padding 5px 5px
        background #2A2A2A
        color #AAAAAA
        margin 0px
        margin-top -1px
    .before-historic-toggles
      position absolute
      top 50%
      left 0px
      height 1px
      transform translate(-100%,0px)
      font-family 'Atlas Grotesk Web'
      .before-historic-toggle
        margin 0px
        padding 5px 5px
        transform translate(0px,-50%)
        background #2A2A2A
        color #AAAAAA
        font-size 14px
        text-align center
        margin-top -1px
    .before-historic-toggles, .before-present-toggles
      .before-toggle-active
        background white
        color black
        font-size 16px

#content
  display flex

.compare-swiper
  display none

.toggles
  position absolute
  top 0px
  left 0px
  width 100px
  z-index 100
  background white
  .years
    p
      margin 0

.population
  position absolute
  z-index 100
  top .6rem
  right 1rem
  p
    font-family 'Atlas Grotesk Web'
    font-size 14px
    color black
    font-weight 400
    margin 0px

.map-container
  display flex

.compare
  position absolute
  bottom 0
  left 0
  z-index 100

.before-map-container, .map, .mapboxgl-canvas, .mapboxgl-canvas-container
  user-select none
  outline none
  &:focus
    outline none
    user-select none

.map
  height 100vh
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none


#main-map
  flex-grow 1


#compare-map
  width 100%
  pointer-events none

body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

body {
    overflow: hidden;
}

body * {
   -webkit-touch-callout: none;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
}

.map {
    position: relative;
    display: inline-block;
    //width: 50%;

}
