
html,body
  user-select none
  margin 0
  padding 0
  height 100vh
  width 100vw
  overflow hidden

#content
  overflow hidden

.mapboxgl-ctrl-attrib
  a
    border none
  &:after
    display none

.mapboxgl-ctrl-logo
  text-decoration none
  border none
.start-screen
  position absolute
  height 100vh
  width 100vw
  z-index 10000000
  background linear-gradient(180deg, #f7f7f7 0px, rgba(247, 247, 247, 0.85) 58%, rgba(255, 255, 255, 0) 100%)
  display flex
  flex-direction column
  justify-content center
  align-items center
  font-family 'Atlas Grotesk Web'
  @media (max-width: 550px)
    //justify-content flex-start
    .mountain
      margin 0 auto
      margin-top 2rem
      display none
    .logo
      position absolute
      top 1rem
      right auto
      left auto
      //margin-bottom 1rem
    .byline
      position absolute
      top auto
      right auto
      left auto
      bottom 1rem
    .prose
      width 90%
      padding 0px
      p
        font-size 16px
    .big-text
      width calc(100% - 30px)
      font-size 40px
      text-align center
      margin 0 auto
    .sub-text
      width 90%
      text-align center
      margin 0 auto
  .byline
    position absolute
    top 2rem
    right 2rem
    p
      font-size 12px
      color #737373
      a
        color #737373
        border-color #737373
        &:visited
          border-color #737373
  .mountain
    margin-top -5rem
  .start-button
    background #4264FB
    border-radius 5px
    margin-top 1rem
    min-width 150px
    background #efe7d4
    transition background .5s
    p
      font-size 18px
      color black
      padding 5px 20px
      font-weight 500
      text-align center
      transition color .5s
  .start-active
    cursor hand
    cursor pointer
    background #4264FB
    p
      color white
    &:hover
      background green

  p
    margin 0px
  .big-text
    font-size 48px
    font-weight 300
  .sub-text
    font-size 15px
    font-weight 500
    color #0C4135
    text-transform uppercase
    letter-spacing 1.5px
    margin-top -5px
  .prose
    margin-top 3rem
    width 530px
    p
      text-align center
      font-size 16px
      font-weight 400
      margin-bottom 1.5rem
      &:last-of-type
        font-weight 500

  .logo
    width 118px
    position absolute
    top 1rem
    left 2rem
    svg
      width 100%
.delta-map-container
  position absolute
  top 0px
  right 0px
  height 100%
  width 100%
  transform translate(100%,0%)
  pointer-events none
  background #f7f7f7
  z-index 100
  #delta-map
    width 100%
    pointer-events all
    background #f7f7f7
.tour-container
  position absolute
  z-index 100
  bottom 0px
  left 2rem
  padding 1rem 1rem
  //background rgba(0,0,0,.75)
  background rgba(255,255,255,1)
  box-shadow -1px -1px 3px 1px rgba(0, 0, 0, 0.1)
  color black
  max-width 312px
  border-top-left-radius 5px
  border-top-right-radius 5px
  display flex
  flex-wrap wrap
  justify-content space-between
  transition transform .5s
  .tour-hide
    position absolute
    top 0px
    left 0px
    z-index 100
    transform translate(20px, -100%)
    //background rgba(0,0,0,.75)
    background rgba(255,255,255,1)
    box-shadow 0px -2px 3px 1px rgba(0, 0, 0, 0.1)
    height 20px
    padding 0px 5px
    border-top-left-radius 5px
    border-top-right-radius 5px
    cursor hand
    cursor pointer
    transition all .5s
    .tour-show-arrow
      display none
      width 25px
      div
        svg
          width 100%
          stroke white
    .tour-hide-arrow
      width 25px
      div
        svg
          width 100%
  .tour-text-container
    width 100%
    margin-bottom 15px
    .tour-text
      color black
      font-family 'Atlas Grotesk Web'
      font-size 12px
      font-weight 400
      margin 0px
      b
        font-weight 600
  .tour-toggle
    display flex
    .tour-toggle-right, .tour-toggle-left
      height 20px
      width 20px
      margin-top 1px
      cursor pointer
      cursor hand
      &:hover
        div
          svg
            stroke #000
      div
        svg
          width 100%
          stroke #999
    .tour-toggle-text
      font-family 'Atlas Grotesk Web'
      .tour-toggle-text-current, .tour-toggle-text-amount
        font-size 13px
        font-weight 400
        color black
        display inline-block
      .tour-toggle-text-current
        margin 0px
        font-weight 500
        color black
        margin-right 0px
      .tour-toggle-text-amount
        margin 0px
  .tour-button
    border-radius 5px
    font-family 'Atlas Grotesk Web'
    background #d8d8d8
    color #333
    font-size 11px
    letter-spacing .5px
    font-weight 600
    border-bottom 3px solid #8c8c8c
    padding 9px 15px
    margin 0px
    position relative
    text-transform uppercase
    padding-right 50px
    margin-top -3px
    cursor hand
    cursor pointer
    &:hover
      background #bdbdbd
    &:after
      position absolute
      content '✈️'
      right 8px
      font-size 17px
      top 50%
      transform translate(0,-50%)

.tour-hidden
  transform translate(0,100%)
  transition all .5s
  .tour-hide
    width 100px
    height 30px
    transition all .5s
    background black
    .tour-show-arrow
      display block
    .tour-hide-arrow
      display none

.tour-hidden-start
  transform translate(0,150%)
.screen
  height 100vh
  width 100vw
  position absolute
  top 0px
  left 0px
  pointer-events none
  background linear-gradient(180deg, #f7f7f7 20px, rgba(134,153,158,0) 150px, rgba(0,0,0,0) 100%)
  transform translate3d(0,0,0)
  z-index 10
.mapboxgl-compare
  display none
.top-header
  position absolute
  top 0px
  left 0px
  width 100%
  display flex
  justify-content center
  z-index 1000
  transform translate(0,-200%)
  .small-logo
    display none
  @media (max-width: 830px)
    justify-content flex-start
    .logo
      position relative
    .top-toggles
      margin-left 50px
  @media (max-width: 720px)
    justify-content center
    .small-logo
      display block
      width 30px
      border-bottom none
      margin-right 10px
      margin-top 7px
      margin-left 10px
      svg
        width 100%
    .logo
      position absolute
      top 4rem
      left 1rem
      display none
    .top-toggles
      margin 0px
      display flex
      width 100%
      div
        width 33.33333%
        &:nth-of-type(2)
          .top-toggle-active
            font-size 12px
            height 50px
            font-weight 400
            &:after
              content ''
              display none
        p
          padding .5rem .5rem
          height 45px
          font-size 12px
          width auto
          text-align center
          line-height 1.2
        .top-toggle-active
          font-size 12px
          padding .5rem .5rem
  @media (max-width: 350px)
    .top-toggles
      div
        p
          padding .5rem .3rem
  .top-toggles
    display flex
    justify-content center
    div
      cursor hand
      cursor pointer
      p
        transition all .1s
        span
          display none

      .top-toggle-active
        background white
        color black
        font-weight 500
        font-size 18px
        padding 10px 20px
        box-shadow none
        border-bottom-left-radius 5px
        border-bottom-right-radius 5px
        height 53px
        pointer-events none
        @media (max-width: 900px)
          font-size 14px
      p:not(.top-toggle-active)
        &:hover
          color black
          background #ffffff
          border-color #ccc
          box-shadow none
          transition all .05s
          height 50px
      &:nth-of-type(3)
        .top-toggle-active
          height auto
          border-bottom-left-radius 0px
          border-bottom-right-radius 0px
          position relative
          height 70px
          box-shadow 0px 2px 4px 0px rgba(0, 0, 0, 0.27)
          border-bottom-right-radius 5px
          border-bottom-left-radius 5px
          &:after
            width 100%
            content ''
            height 16px
            font-size 11px
            position absolute
            left 0px
            right 0px
            bottom 0px
            margin 0 auto
            text-align center
            background #f6f7f7
            transform translate(0px, 0%)
            padding 3px 0px
            border-bottom-right-radius 5px
            border-bottom-left-radius 5px
            font-weight 400
          span
            display inline-block
          .legend-change
            display block
            font-size 11px
            position absolute
            z-index 100
            width 100%
            left 0px
            bottom 3px
            display flex
            justify-content center
            span
              &:nth-of-type(1)
                margin-right 6px
              &:nth-of-type(2)
                margin-left 3px
      &:nth-of-type(2)
        .top-toggle-active
          height auto
          border-bottom-left-radius 0px
          border-bottom-right-radius 0px
          position relative
          height 70px
          box-shadow 0px 2px 4px 0px rgba(0, 0, 0, 0.27)
          border-bottom-right-radius 5px
          border-bottom-left-radius 5px
          &:after
            width 100%
            content 'Latest Data from 2015'
            font-size 11px
            position absolute
            left 0px
            right 0px
            bottom 0px
            margin 0 auto
            text-align center
            background #f6f7f7
            transform translate(0px, 0%)
            padding 3px 0px
            border-bottom-right-radius 5px
            border-bottom-left-radius 5px
            font-weight 400
      p
        margin 0px
        padding 10px 20px
        font-family 'Atlas Grotesk Web'
        background #d8d8d8
        border-bottom 3px solid #909090
        color black
        font-weight 400
        font-size 14px
        display block
        height 45px
        cursor hand
        cursor pointer
        //box-shadow 0px 0px 8px 1px rgba(0, 0, 0, 0.29)
        @media (max-width: 900px)
          font-size 13px


      &:nth-of-type(1)
        p
          border-bottom-left-radius 5px
      &:nth-of-type(3)
        p
          border-bottom-right-radius 5px




  .logo
    position absolute
    top 0rem
    left 1.5rem
    width 110px
    text-decoration none
    border none
    svg
      width 100%
      fill black
.before-map-container
  height 100vh
  position relative
  width 0px
  flex-grow 1
  @media (max-width: 720px)
    width 100%
    height 0px
    order 2
  .before-toggles
    display none
.extended
  .before-toggles
    display block
    width 6px
    height 100vh
    background black
    position absolute
    right 0px
    //box-shadow 0px 0px 3px 1px rgba(0, 0, 0, 0.21)
    z-index 100
    transform translate(50%,0px)
    @media (max-width: 720px)
      right auto
      height 6px
      width 100vw
      transform translate(0px,50%)
      left auto
      .before-present-toggles
        top auto
        left 50%
        transform translate(-50%, -100%)
        width 60px
        p
          font-size 14px
          text-align center
      .before-historic-toggles
        top auto
        left 50%
        transform translate(0px,-100%)
        width 60px
        .before-historic-toggle
          transform translate(-50%,0px)
    .before-present-toggles
      position absolute
      top 50%
      right 0px
      transform translate(100%, -50%)
      .before-present-toggle
        font-family 'Atlas Grotesk Web'
        padding 5px 5px
        background #2A2A2A
        color #AAAAAA
        margin 0px
        margin-top -1px
    .before-historic-toggles
      position absolute
      top 50%
      left 0px
      height 1px
      transform translate(-100%,0px)
      font-family 'Atlas Grotesk Web'
      .before-historic-toggle
        margin 0px
        padding 5px 5px
        transform translate(0px,-50%)
        background black
        color white
        font-size 14px
        font-weight 500
        text-align center
        margin-top -1px
        margin-right -1px
    .before-historic-toggles, .before-present-toggles
      .before-toggle-active
        background black
        color white
        font-size 16px
        font-weight 500

.compare-swiper
  display none

.toggles
  position absolute
  top 0px
  left 0px
  width 100px
  z-index 100
  background white
  .years
    p
      margin 0

.population
  position absolute
  z-index 100
  top .6rem
  right 1rem
  @media (max-width: 830px)
    right auto
    left 1.5rem
    top 3rem
    p
      text-align left
      line-height 1.4
  @media (max-width: 730px)
    top 4rem
    left auto
    right 1rem
    p
      text-align right
  p
    font-family 'Atlas Grotesk Web'
    font-size 14px
    color black
    font-weight 400
    margin 0px
    @media (max-width: 1050px)
      font-size 12px
      font-weight 500
    @media (max-width: 1000px)
      width 100px
      text-align right
      line-height 1.2



.compare
  position absolute
  bottom 0
  left 0
  z-index 100

#main-map
  flex-grow 0
.before-map-container, .map, .mapboxgl-canvas, .mapboxgl-canvas-container
  user-select none
  outline none
  &:focus
    outline none
    user-select none
.map-container
  overflow hidden
  position relative
  height 100vh
  width 100vw
  display flex
  @media (max-width: 720px)
    flex-direction column
  .map
    height 100%
    //-webkit-touch-callout none
    //-webkit-user-select none
    //-khtml-user-select none
    //-moz-user-select none
    //-ms-user-select none
    //user-select none
    //position relative
    display block
    width 100%
#compare-map
  width 100%
  pointer-events none
