
<div class="top-header">
	<a href='https://pudding.cool' target='_blank' class='logo'>
		@@include('logo.svg')
	</a>
	<div class="top-toggles">
		<div id="compare-button"><p>Compare to 1990</p></div>
		<div id="present-button"><p class="top-toggle-active">Present Day</p></div>
		<div id="delta-button"><p>Change, 1990-2015</p></div>
	</div>
</div>
<div class="screen">

</div>


<div class="map-container">
	<div class="before-map-container">
		<div class="before-toggles">
			<div class="before-present-toggles">
				<p class="before-present-toggle before-toggle-active">2015</p>
			</div>
			<div class="before-historic-toggles">
				<p class="before-historic-toggle before-toggle-active">1990</p>
				<p class="before-historic-toggle">1975</p>
				<p class="before-historic-toggle">2000</p>
			</div>
		</div>
		<div id='compare-map' class='map'></div>
	</div>
	<div id='main-map' class='map'></div>
	<div class="delta-map-container">
		<div id='delta-map' class="map">
		</div>
	</div>
</div>

<div class="toggles">

</div>
<div class="population">
	<p>100 million people</p>
</div>

<div class="delta-map-container">
	<div class="delta-map">

	</div>
</div>

<div class="tour-container">
	<div class="tour-hide">
		<div class="tour-hide-arrow">
			<div>@@include('chevron-down.svg')</div>
		</div>
	</div>
	<div class="tour-text-container">
		<p class="tour-text">Something about world cities.</p>
	</div>
	<div class="tour-button">Fly to Kinshasa
	</div>
	<div class="tour-toggle">
		<div class="tour-toggle-left">
			<div>@@include('chevron-left.svg')</div>
		</div>
		<div class="tour-toggle-text">
			<p class="tour-toggle-text-current">1
			</p>
			<p class="tour-toggle-text-amount">of 21
			</p>
		</div>
		<div class="tour-toggle-right">
			<div>@@include('chevron-right.svg')</div>
		</div>
	</div>
</div>
